<ion-view title="Login/Logout" hide-back-button="true" style="background: #ffffff">

<ion-content>
<h1> </h1>

  <div ng-hide="isLoggedIn"
       class="card"
       ng-click="login()">

    <button class="item"
            style="text-align:left;
                   background:#00BCD4;                   ;
                   color:#ffffff;">Log In with Facebook
    </button>

  </div>

  <div class="card" ng-show="isLoggedIn">
    <div class="item item-text-wrap"
         style="background:#00BCD4;
                color:#ffffff;">Welcome {{ displayName }}! </div>

    <button class="item"
            ng-click="logout()"
            style="text-align:left;
                   background:#00BCD4;
                   color:#fff;">Log Out</button>
  </div>

</ion-content>
</ion-view>
